{% extends "base.html" %}
{% load static %}
{% load chunks %}

{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="{% url 'main_page:home' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="float-md-left mb-4">
                            <h2 class="text-black h5">Shop All</h2>
                        </div>
                        <div class="d-flex">
                            <div class="dropdown mr-1 ml-md-auto">
                              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?category=Men">Men</a>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?category=Women">Women</a>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?category=Boys">Boys</a>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?category=Girls">Girls</a>
                              </div>
                            </div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?sort=popularity">Popularity</a>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?sort=a_z">Name, A to Z</a>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?sort=z_a">Name, Z to A</a>
                                <a class="dropdown-item" href="#">Average Ratings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?sort=price_low_high">Price, low to high</a>
                                <a class="dropdown-item" href="{% url 'product_page:shop' %}?sort=price_high_low">Price, high to low</a>
                              </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                {% if product_error %}
                <div class="alert alert-danger">
                    {{ product_error.message }}
                </div>
                {% endif %}

                {% for product_chunks in products|chunks:3 %}
                <div class="row mb-5">
                    {% for product in product_chunks %}
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div class="product-item">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="{% url 'product_page:shop-single' product.id %}">
                                        <img src="{{ product.product_image.url }}" alt="{{ product.title }}" class="img-fluid product-image">
                                    </a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="{% url 'product_page:shop-single' product.id %}">{{ product.title }}</a></h3>
                                    {% if product.description %}
                                    <p class="mb-0">{{ product.description }}</p>
                                    {% endif %}
                                    <div class="rating-container">
                                        <div class="rating">
                                            {% for i in "12345" %}
                                            {% if i|add:0 <= product.rating %}
                                            <i class="fa fa-star"></i>
                                            {% else %}
                                            <i class="fa fa-star-o"></i>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <p class="text-primary font-weight-bold">${{ product.original_price }}</p>
                                    {% if product.quantity == 1 %}
                                        <span style="color: red;">Only 1 item left in stock!</span>
                                    {% endif %}
                                    {% if product.availability_status == 'in_stock' %}
                                    <p class="text-success font-weight-bold">In Stock</p>
                                    {% else %}
                                    <p class="text-danger font-weight-bold">Out of Stock</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="row" data-aos="fade-up">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                {% if products.has_previous %}
                                <li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
                                {% else %}
                                <li class="disabled"><span>&lt;</span></li>
                                {% endif %}
                                {% for page_num in products.paginator.page_range %}
                                {% if page_num == products.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                <li><a href="?page={{ products.next_page_number }}">&gt;</a></li>
                                {% else %}
                                <li class="disabled"><span>&gt;</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                    <ul class="list-unstyled mb-0">
                        {% if categories %}
                            {% for category in categories %}
                                <li class="mb-1">
                                    <a href="?category={{ category.category_name }}" class="d-flex{% if selected_category == category.category_name %} is_active{% endif %}">
                                        <span>{{ category.category_name }}</span>
                                        <span class="text-black ml-auto">({{ category.products.count }})</span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>No categories available.</li>
                        {% endif %}
                    </ul>

                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Brands</h3>
                    <ul class="list-unstyled mb-2">
                        {% if brands %}
                            {% for brand in brands %}
                            {% if brand.is_active %}
                            <li>
                                <a href="?category={{ selected_category }}&brand={{ brand.brand_name }}">{{ brand.brand_name }}</a>
                            </li>
                        {% endif %}
                            {% endfor %}
                        {% else %}
                            <li>No brands available for selected category.</li>
                        {% endif %}
                    </ul>

                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Sizes</h3>
                    <ul class="list-unstyled mb-2">
                        {% for size in sizes %}
                            <li>
                                <a href="?size={{ size.size_name }}">{{ size.size_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Colors</h3>
                    <ul class="list-unstyled mb-2">
                        {% for color in colors %}
                            <li>
                                <a href="?color={{ color.color_name }}">{{ color.color_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
