{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Custom CSS styles for profile page */
    .sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 20px 0;
        background-color: #f8f9fa;
    }

    .profile {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-pic {
        width: 150px;
        height: 100px;
        border-radius: 50%;
    }

    .nav-link {
        color: #333;
        font-weight: bold;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .sidebar {
        position: relative;
        top: 0;
        height: 100%;
        padding-top: .5rem;
        margin-bottom:20px;
    }

    /* Optional: Customize profile page layout */
    .profile-content {
        margin-top: 20px;
    }

    .btn-edit {
        margin-bottom: 10px;
    }

    .form-control[readonly] {
        background-color: #f0f0f0; /* Light gray background for readonly fields */
        border: 1px solid #ccc; /* Gray border for readonly fields */
    }

    .active {
        font-weight: bold;
        background-color: #e9ecef; /* Light gray background for active link */
    }

    .password-form {
        display: none;
        margin-top: 20px;
    }
</style>

<div class="container mb-5">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar mt-5">
            <div class="profile text-center my-4">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Picture" class="profile-pic img-fluid rounded-circle mb-2">
                <h5>Hello, {{ user.first_name }}</h5>
            </div>
            <div class="sidebar">
                <ul class="nav flex-column">
                    {% url 'personal_information' as personal_information_url %}
                    <li class="nav-item ">
                        <a class="nav-link {% if request.path == personal_information_url %}active{% endif %}" href="{{ personal_information_url }}">
                            <i class="fa fa-user"></i>
                            Personal Information
                        </a>
                    </li>
                    {% url 'manage_address' as manage_address_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == manage_address_url %}active{% endif %}" href="{{ manage_address_url }}">
                            <i class="fa fa-map-marker"></i>
                            Manage Address
                        </a>
                    </li>
                    {% url 'my_orders' as my_orders_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == my_orders_url %}active{% endif %}" href="{{ my_orders_url }}">
                            <i class="fa fa-shopping-cart"></i>
                            My Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-wallet"></i>
                            My Wallet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-heart"></i>
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-share-alt"></i>
                            Referral
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-md-4">
            <div class="profile-content">
               
               
                <div class="text-right mb-3">
                    <button id="edit-btn" class="btn btn-primary">Edit</button>
                </div>
                <h2>Personal Information</h2>
                <form method="post" action="{% url 'personal_information' %}" id="profile-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number:</label>
                        <input type="text" id="phone_number" name="phone_number" value="{{ user.phone_number }}" class="form-control" readonly>
                    </div>
                    <!-- Add other fields as needed -->

                    <button type="submit" class="btn btn-primary" style="display: none;">Save Changes</button>
                </form>

                <!-- Reset Password Section -->
                <div class="mt-4">
                    <a id="reset-password-link" href="#" class="btn btn-primary">Reset Password</a>
                </div>

                <!-- Password Reset Form (hidden by default) -->
                <div class="password-form" id="reset-password-form">
                    <form method="post" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password">Old Password:</label>
                            <input type="password" id="old_password" name="old_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password1">New Password:</label>
                            <input type="password" id="new_password1" name="new_password1" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password2">Retype New Password:</label>
                            <input type="password" id="new_password2" name="new_password2" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var editBtn = document.getElementById('edit-btn');
        var profileForm = document.getElementById('profile-form');
        var passwordForm = document.getElementById('reset-password-form');
        var passwordLink = document.getElementById('reset-password-link');
        var profileInputs = profileForm.querySelectorAll('input[type="text"], input[type="email"], textarea');

        editBtn.addEventListener('click', function() {
            for (var i = 0; i < profileInputs.length; i++) {
                profileInputs[i].readOnly = false;
            }
            editBtn.style.display = 'none';
            profileForm.querySelector('button[type="submit"]').style.display = 'block';
        });

        passwordLink.addEventListener('click', function(event) {
            event.preventDefault();
            passwordForm.style.display = 'block';
        });
    });
</script>
{% endblock %}
